# ----------------------------------
# 1. 最可怕的巨獸 (絕對要擋掉！)
# ----------------------------------
# 加上 ** 代表「不管在哪個資料夾底下」，只要叫這個名字通通忽略
**/node_modules
**/npm-debug.log
**/yarn-error.log

# ----------------------------------
# 2. 本機的編譯結果 (讓容器自己重編就好)
# ----------------------------------
**/dist
**/build
**/.output

# ----------------------------------
# 3. 版本控制與編輯器設定 (浪費空間且有資安風險)
# ----------------------------------
.git
.gitignore
.vscode/
.idea/
*.swp
*.swo

# ----------------------------------
# 4. 系統隱藏檔 (尤其是 Mac 常常偷塞的)
# ----------------------------------
.DS_Store

# ----------------------------------
# 5. Docker 自己的檔案 (選修：避免自己傳自己)
# ----------------------------------
docker-compose.yml
Dockerfile
.dockerignore

# ----------------------------------
# 6. 其他不需要打包進去的文件
# ----------------------------------
README.md
# ----------------------------------
# 7. 補
# ----------------------------------
# python
venv/
**/__pycache__
*.pyc
# ssl
*.crt
*.key
# volume掛載
data/
db/
